.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 auto;
  margin-top: 30px;
  background-color: $color-black;
  border-radius: 6px;
  width: 80%;
  max-width: 1140px;
  min-width: 671px;
  height: 60vw;
  max-height: 500px;
  min-height: 250px;
}
.container__image {
  border-radius: 6px 0 0 6px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
}
.container__info {
  padding: 20px 15px 10px 8px;
  font-family: $font-stack;
  color: $color-white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info__title {
  font-size: 2rem;
  font-weight: 400;
}
.info__generalities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0%;
  gap: 20px;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 400;
}
.info__realiseYear span,
.info__gender span,
.info__publisher span,
.info__platforms span {
  font-weight: 500;
  font-size: 1.1;
}
.platforms,
.publishers {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.9rem;
  gap: 8px;
}
.info__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6px 0;
}
.footer__price {
  font-size: 1.3rem;
  font-weight: 500;
}
.footer__liker {
  font-size: 1.8rem;
}
.footer__liker:hover {
  cursor: pointer;
  color: $color-red;
}

@media (max-width: 730px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
    height: auto;
    max-width: unset;
    min-width: unset;
    max-height: unset;
    min-height: unset;
  }
  .container__image {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 500px;
  }
  .container__info {
    padding: 0px 8px 8px 8px;
    width: 100%;
  }
  .info__generalities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: none;
    gap: 20px;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 400;
  }
}
