.container {
  padding: 3px 5px;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 8px;
}
.publishers {
  background-color: $color-green;
}
.platforms {
  background-color: $color-purple;
}
