// fonts
$font-stack: 'Open Sans', sans-serif;
$font-secondary: 'Libre Baskerville', serif;

// colors
$color-base: rgb(0, 67, 156);
$color-disabled: rgba(20, 46, 80, 0.507);
$color-green: rgb(31, 136, 10);
$color-purple: rgb(62, 7, 114);
$color-blue: rgb(0, 0, 95);
$color-black: rgb(0, 0, 0);
$color-red: rgb(255, 0, 0);
$color-yellow: rgb(255, 237, 71);
$color-gray_soft: rgb(204, 203, 203);
$color-gray_medium: rgb(194, 194, 194);
$color-gray_strong: rgb(131, 130, 130);
$color-gray_opacity: rgba(182, 182, 182, 0.5);
$color-white: white;
